body{

  background:#cccccc;
  margin:0;
  font-family:sans-serif;

}

.container{

  max-width:430px;
  margin:auto;
  padding:20px;

}

.hidden{

  display:none;

}

h1,h2,p{

  text-align:center;

}

button{

  width:100%;
  padding:18px;
  margin-top:12px;
  border:none;
  border-radius:12px;
  font-size:22px;

}

#choices{

  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;

}

#homeButton{

  position:fixed;
  top:10px;
  left:10px;
  width:60px;
  height:60px;
  border-radius:50%;
  font-size:24px;
  z-index:1000;

}

#history{

  font-size:24px;

}

#result{

  font-size:28px;
  margin-top:20px;

}